:root {
  --title-color: #983333;
  --title-size: 3rem;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px 20px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: var(--title-size);
  color: var(--title-color);
  margin-bottom: 4rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 6rem;
  height: 6rem;
}
